{% load static %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    
    <link rel="stylesheet" href="{% static 'style.css' %}">

    {% block css%}
    {% endblock css %}
  </head>
  <body>
    <nav>
      <a href="{% url 'basic' %}">Home</a>
    </nav>

    {% block body %} {% endblock body %}

    {% block cate %} {% endblock cate %}
    <footer>Footer</footer>
  </body>
</html>
