{% extends 'base.html' %}
{% load static %}


{% block body %}



    {% block cate %}
      <h1>Categories</h1>
      <ul>
        {% for category in categories %}
          <li>{{ category }}</li>
        {% endfor %}
      </ul>
    {% endblock %}

      <h1>{{username | capfirst | truncatechars:5 }}</h1>

      {% if posts %}
        <h1>All posts are Available</h1>

      {% for post in posts %} 
      
        {% if forloop.first %}
          <h1>First Loop</h1>
        {% endif %} 
        
        {% if forloop.last %}
        <h1>Last Loop</h1>
        {% endif %}

        <a href="http://127.0.0.1:8000/posts/{{ post.id }}">
          <h1>{{forloop.counter}} - {{ post.title }}</h1>
        </a>
        <p>{{ post.content | truncatewords:3 }}</p>
      {% endfor %} 
      
      {% elif posts|length == 0 %}
      <h1>Inside elif post</h1>

      {% else %}
      <h1>No posts</h1>

      {% endif %}
{% endblock %}
